h1 {
    background-color: lime;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

p {
    text-align: center;
    font-family: Helvetica, sans-serif;

}

body {
    background-color: greenyellow;
    text-align: center;
}